<mat-card>
  <div class="cardform">
    <h2>{{btnTitulo}}</h2>
    <h4>Dados da Arma</h4>
    <form [formGroup]="weaponForm" (ngSubmit)="submit()" #formDir="ngForm">
      <input type="hidden" formControlName="weaponId">
      <div class="input_box">
        <mat-form-field>
          <mat-label>Nome: </mat-label>
          <input matInput type="text" formControlName="name" placeholder="Insira o nome" required>
        </mat-form-field>
      </div>
      <!-- <div class="input_box">
    <label>Herói: </label>
    <input type="text" formControlName="hero">
  </div> -->
      <div class="btn-box">
        <button type="submit" [disabled]="!weaponForm.valid" mat-raised-button color="accent">{{btnAcao}}</button>
        <button routerLink="/weapon" mat-raised-button>Voltar</button>
      </div>
    </form>
  </div>
</mat-card>
