<div>
  <h2>Detalhes do herói</h2>
</div>
<div>
  <h4>Dados: </h4>
  <form>
    <div class="input-box">
      <label>Nome: </label>
      <input type="text">
    </div>
    <div class="input-box">
      <label>Ativo: </label>
      <input type="checkbox">
    </div>
    <div class="input-box">
      <label>Última Atualização: </label>
      <input type="text">
    </div>
    <div class="input-box">
      <label>Identidade secreta: </label>
      <input type="text">
    </div>
    <div class="input-box">
      <label>Armas: </label>
      <input type="text">
    </div>
    <div class="input-box">
      <label>Filmes: </label>
      <input type="text">
    </div>
  </form>
</div>
