<h2>{{btnTitulo}}</h2>
<h4>Dados do filme</h4>
<form [formGroup]="movieForm" (ngSubmit)="submit()" #formDir="ngForm">
  <input type="hidden" formControlName="movieId">
  <div class="input_box">
    <label>Nome: </label>
    <input type="text" formControlName="name" placeholder="Insira o nome" required>
  </div>
  <div class="input_box">
    <label>Nota: </label>
    <select formControlName="rate">
      <option value=0>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7 selected>7</option>
      <option value=8>8</option>
      <option value=9>9</option>
      <option value=10>10</option>
    </select>
  </div>
  <div class="btn-box">
    <button type="submit" [disabled]="!movieForm.valid">{{btnAcao}}</button>
    <button routerLink="/movie">Voltar</button>
  </div>
</form>
