/* a {
  color: white;
  text-decoration: none;
} */
.headertop {
  margin: 0px;
  padding: 10px;
  /* box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: rgb(64, 100, 132);
  color: rgb(255, 255, 255); */
}
