<div class="mat-typography app-frame mat-app-background">
  <header>
    <mat-toolbar color="primary">
      <div>
        <span><a routerLink="/home">Página Inicial</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
        <span><a routerLink="/hero">Herói</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
        <span><a routerLink="/secret">Identidade Secreta</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
        <span><a routerLink="/weapon">Arma</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
        <span><a routerLink="/movie">Filme</a></span>
      </div>
    </mat-toolbar>
  </header>
  <div>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
