<div class="mat-typography app-frame mat-app-background">
  <header>
    <mat-toolbar>
      <div>
        <button mat-button routerLink="/home">Página Inicial</button>
        <button mat-button routerLink="/hero">Herói</button>
        <button mat-button routerLink="/secret">Identidade Secreta</button>
        <button mat-button routerLink="/weapon">Arma</button>
        <button mat-button routerLink="/movie">Filme</button>
      </div>
    </mat-toolbar>
  </header>
  <div>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
