<div class="hero-box">
  <div style="width: 20%;">
    <button mat-raised-button color="primary" routerLink="/weapon-cadastro">Nova Arma</button>
  </div>
  <div style="width: 70%;">
    <mat-form-field>
      <mat-label>Procurar arma: </mat-label>
      <input matInput type="text" placeholder="Nome da arma" (input)="searchWeapon($event)">
    </mat-form-field>
  </div>
</div>


<table mat-table [dataSource]="weapons" class="mat-elevation-z8">
  <ng-container matColumnDef="Código">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let weapon"> {{weapon.weaponId}} </td>
  </ng-container>

  <ng-container matColumnDef="Nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let weapon"> {{weapon.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Herói">
    <th mat-header-cell *matHeaderCellDef> Herói </th>
    <td mat-cell *matCellDef="let weapon"> {{weapon.hero?.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Opções">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let weapon">
      <button mat-raised-button color="accent" routerLink="/weapon-detalhes/{{weapon.weaponId}}">Detalhes</button>
      <button mat-raised-button routerLink="/weapon-editar/{{weapon.weaponId}}">Editar</button>
      <button mat-raised-button color="warn">Excluir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
