<mat-card>
  <h2>{{btnTitulo}}</h2>
  <h4>Dados da Identidade Secreta</h4>
  <form [formGroup]="secretForm" (ngSubmit)="submit()" #formDir="ngForm">
    <input type="hidden" formControlName="secretId">
    <div class="input_box">
      <mat-form-field>
        <label>Nome: </label>
        <input matInput type="text" formControlName="name" placeholder="Insira o nome" required>
      </mat-form-field>
    </div>
    <!-- <div class="input_box">
    <label>Herói: </label>
    <input type="text" formControlName="hero">
  </div> -->
    <div class="btn-box">
      <button type="submit" [disabled]="!secretForm.valid" mat-raised-button color="accent">{{btnAcao}}</button>
      <button routerLink="/secret" mat-raised-button>Voltar</button>
    </div>
  </form>
</mat-card>
