<h2>{{btnTitulo}}</h2>
<h4>Dados da Identidade Secreta</h4>
<form [formGroup]="secretForm" (ngSubmit)="submit()" #formDir="ngForm">
  <div class="input_box">
    <label>Nome: </label>
    <input type="text" formControlName="name" placeholder="Insira o nome" required>
  </div>
  <!-- <div class="input_box">
    <label>Herói: </label>
    <input type="text" formControlName="hero">
  </div> -->
  <div class="btn-box">
    <button type="submit" [disabled]="!secretForm.valid">{{btnAcao}}</button>
    <button routerLink="/secret">Voltar</button>
  </div>
</form>
