<div class="hero-box">
  <button>Novo herói</button>
  <div class="input-box">
    <label>Procurar herói: </label>
    <input type="text" placeholder="Nome do herói">
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Cod.</th>
      <th>Nome</th>
      <th>Última Atualização</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>X</td>
      <td>99</td>
      <td>Paulo</td>
      <td>24/12/1983 07:30:00</td>
      <td>
        <button>Editar</button>
        <button>Detalhes</button>
      </td>
      <td>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
