<div>
  <h2>Detalhes do filme</h2>
</div>
<div *ngIf="movie; else waiting">
  <h4>Dados: </h4>
  <form>
    <div class="input-box">
      <label>Nome: </label>
      <input type="text" value="{{movie.name}}" disabled>
    </div>
    <div class="input-box">
      <label>Nota: </label>
      <input type="number" value="{{movie.rate}}" disabled>
    </div>
    <div class="input-box">
      <label>Heróis: </label>
      <input type="text" value="" disabled>
    </div>
    <div class="btn-box">
      <button routerLink="/movie">Voltar</button>
    </div>
  </form>
</div>
<ng-template #waiting>
  <div>
    <span>Aguardando...</span>
  </div>
</ng-template>
