html, body, app-root, .app-frame {
  height: 100vh;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
}

a {
  color: white;
}

.container {
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardform {
  margin: 5px;
  padding: 5px;
}
