<div class="hero-box" style="border-top: 70px;">
  <button>Novo herói</button>
  <div class="input-box">
    <label>Procurar herói: </label>
    <input type="text" placeholder="Nome do herói" (input)="searchHero($event)">
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Cod.</th>
      <th>Nome</th>
      <th>Última Atualização</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let hero of heroes">
    <tr>
      <td>
        <div *ngIf="hero.active === true; else inactiveHero">
          <img src="assets/images/green-ball.png" style="width: 1em;" alt="Ativo">
        </div>
        <ng-template #inactiveHero>
          <img src="assets/images/red-ball.png" style="width: 1em;" alt="Inativo">
        </ng-template>
      </td>
      <td>
        {{hero.heroId}}
      </td>
      <td>
        {{hero.name}}
      </td>
      <td>
        {{hero.updateDate}}
      </td>
      <td>
        <button>Detalhes</button>
        <button>Editar</button>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
