<h2>{{btnTitulo}}</h2>
<h4>Dados do herói</h4>
<form [formGroup]="heroForm" (ngSubmit)="submit()" #formDir="ngForm">
  <input type="hidden" formControlName="heroId">
  <div class="input_box">
    <label>Nome: </label>
    <input type="text" formControlName="name" placeholder="Insira o nome" required>
  </div>
  <div class="input_box">
    <label>Ativo: </label>
    <input type="checkbox" formControlName="active">
  </div>
  <div class="btn-box">
    <button type="submit" [disabled]="!heroForm.valid">{{btnAcao}}</button>
    <button routerLink="/hero">Voltar</button>
  </div>
</form>
