<div class="hero-box" style="border-top: 70px;">
  <button routerLink="/secret-cadastro">Nova Id. Secreta</button>
  <div class="input-box">
    <label>Procurar id. secreta: </label>
    <input type="text" placeholder="Nome da identidade" (input)="searchSecret($event)">
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Cod.</th>
      <th>Nome</th>
      <th>Herói</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let secret of secrets">
    <tr>
      <td>
        {{secret.secretId}}
      </td>
      <td>
        {{secret.name}}
      </td>
      <td *ngIf="secret.hero !== null; else withoutHero">
        {{secret.hero?.name}}
      </td>
      <ng-template #withoutHero>
        -
      </ng-template>
      <td>
        <button routerLink="/secret-detalhes/{{secret.secretId}}">Detalhes</button>
        <button routerLink="/secret-editar/{{secret.secretId}}">Editar</button>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
