<mat-card>
  <div class="cardform">
    <div>
      <h2>Detalhes da identidade secreta</h2>
    </div>
    <div *ngIf="secret; else waiting">
      <h4>Dados: </h4>
      <form>
        <div class="input_box">
          <mat-form-field>
            <mat-label>Nome: </mat-label>
            <input matInput type="text" value="{{secret.name}}" disabled>
          </mat-form-field>
        </div>
        <div class="input_box">
          <mat-form-field>
            <mat-label>Herói: </mat-label>
            <input matInput type="text" value="{{secret.hero?.name}}" disabled>
          </mat-form-field>
        </div>
        <div class="btn-box">
          <button mat-raised-button routerLink="/secret">Voltar</button>
        </div>
      </form>
    </div>
    <ng-template #waiting>
      <div>
        <span>Aguardando...</span>
      </div>
    </ng-template>
  </div>
</mat-card>
